IO_LOC "seg[7]" 69;
IO_LOC "seg[6]" 68;
IO_LOC "seg[5]" 57;
IO_LOC "seg[4]" 56;
IO_LOC "seg[3]" 55;
IO_LOC "seg[2]" 54;
IO_LOC "seg[1]" 53;
IO_LOC "seg[0]" 51;

IO_LOC "act[3]" 42;
IO_LOC "act[2]" 41;
IO_LOC "act[1]" 35;
IO_LOC "act[0]" 40;

IO_LOC "sw[7]" 28;
IO_LOC "sw[6]" 27;
IO_LOC "sw[5]" 26;
IO_LOC "sw[4]" 25;
IO_LOC "sw[3]" 39;
IO_LOC "sw[2]" 36;
IO_LOC "sw[1]" 37;
IO_LOC "sw[0]" 38;

IO_LOC "clk" 52 ;
