IO_LOC "seg[7]" 69;
IO_PORT "seg[7]" PULL_MODE=UP ;
IO_LOC "seg[6]" 68;
IO_PORT "seg[6]" PULL_MODE=UP ;
IO_LOC "seg[5]" 57;
IO_PORT "seg[5]" PULL_MODE=UP ;
IO_LOC "seg[4]" 56;
IO_PORT "seg[4]" PULL_MODE=UP ;
IO_LOC "seg[3]" 55;
IO_PORT "seg[3]" PULL_MODE=UP ;
IO_LOC "seg[2]" 54;
IO_PORT "seg[2]" PULL_MODE=UP ;
IO_LOC "seg[1]" 53;
IO_PORT "seg[1]" PULL_MODE=UP ;
IO_LOC "seg[0]" 51;
IO_PORT "seg[0]" PULL_MODE=UP ;

IO_LOC "act[3]" 42;
IO_PORT "act[3]" PULL_MODE=UP ;
IO_LOC "act[2]" 41;
IO_PORT "act[2]" PULL_MODE=UP ;
IO_LOC "act[1]" 35;
IO_PORT "act[1]" PULL_MODE=UP ;
IO_LOC "act[0]" 40;
IO_PORT "act[0]" PULL_MODE=UP ;

IO_LOC "btn_0" 76;
IO_PORT "btn_0" PULL_MODE=UP ;
IO_LOC "btn_1" 73;
IO_PORT "btn_1" PULL_MODE=UP ;

IO_LOC "sw[7]" 28;
IO_PORT "sw[7]" PULL_MODE=UP ;
IO_LOC "sw[6]" 27;
IO_PORT "sw[6]" PULL_MODE=UP ;
IO_LOC "sw[5]" 26;
IO_PORT "sw[5]" PULL_MODE=UP ;
IO_LOC "sw[4]" 25;
IO_PORT "sw[4]" PULL_MODE=UP ;
IO_LOC "sw[3]" 39;
IO_PORT "sw[3]" PULL_MODE=UP ;
IO_LOC "sw[2]" 36;
IO_PORT "sw[2]" PULL_MODE=UP ;
IO_LOC "sw[1]" 37;
IO_PORT "sw[1]" PULL_MODE=UP ;
IO_LOC "sw[0]" 38;
IO_PORT "sw[0]" PULL_MODE=UP ;

IO_LOC "clk" 52 ;
IO_PORT "clk" PULL_MODE=UP ;
